<div class="w100 text-center">
	<div class="bold f25 text-center ">
		Administração de Permissões de Nível
	</div>
	
	
	<%if(usuario.nivel == 1){ %>


	<div class="text-center margin-b-10 margin-t-10">
		<a class="btn primary ajax-load mx-auto" href="<%= data.link_sistema%>/administracao/permissao/criar">Cadastrar Permissão</a>
	</div>


	<div class="col s12">

		<table class="tabela_filtrada text-center  margin-center">
			<thead class="primary-text">
				<tr>
					<th>Nivel</th>
					<th>Excluir</th>
				</tr>
			</thead>
			<tbody>

				<%
				if (typeof data.permissoes_admin != 'undefined' && data.permissoes_admin.length > 0) {
					for (var i = data.permissoes_admin.length - 1; i >= 0; i--) { %>
					<tr class="border-bottom-primary">
						<td>
							<a class="ajax-load black-text" href="<%= data.link_sistema%>/administracao/permissao/editar/<%= data.permissoes_admin[i].id %>">
								<%= data.permissoes_admin[i].nome_nivel %>
								</a>
							</td>

							<td style="width: 30%;" class="center">
								<% if(usuario.nivel == 1){ %>

								<div class="btn primary modal-remover-mount pointer" data-modal="#modaldeletar" data-id="<%= data.permissoes_admin[i].id %>" data-texto="Você tem certeza que quer deletar a Permissão do Nível '<%= data.permissoes_admin[i].nome_nivel %>'? " data-to="/sistema/administracao/permissao/desativar" data-back="<%= data.link_sistema%>/administracao/permissoes_niveis"data-mensagem-sucesso="Permissão Deletada com Sucesso!" data-toggle="tooltip" data-placement="top" title="Deletar Permissão">
									<i class="fas fa-times "></i>
								</div>

								<% } %>
							</td>

						</tr>

						<%}
					}else{%>
					<tr>
						<td colspan="5" class="center">Não há permissões no momento</td>
					</tr>
					<%}%>
				</tbody>

			</table>
		</div>





		<%}else{%>
		<div class=" text-center f25">Você não possui permissão para acessar esse conteúdo!</div>
		<%}%>

	</div>